* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.icon {
    background-color: #dfdfdf;
    margin-left: 96%;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 20px;
}

.icon i {
    padding-top: 7px;
    font-size: 25px;
}

.text {
    /* margin: 100px; */
    width: 50%;
}

.text div {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 92px;
    font-size: 11px;
    color: #3a3a3a;
    margin-top: 30px;
}

.text p {
    margin-top: 30px;
}

.first-page {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}

img {
    width: 20%;
    border-radius: 125px;
}

.text h1 {
    font-size: 40px;
}